<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">About This Application</div>
            </header>

            <div class="content">
                
                <div class="info-line">
                    This web application was created as a part of the course CSS403 Computer Engineering Project Year 2021-2022 of Siridhorn International Institute of Technology, Thammasat University
                </div>

            </div>

        </div>

    </div>

</div>